<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index2</title>
</head>
<body>
    <h1><u>Submitted Info</u></h1>
    <h4>Name: {{session["name"]}}</h4>
    <h4>Dojo Location: {{session["dojo_location"]}}</h4>
    <h4>Favorite Language: {{session["favlanguage"]}}</h4>
    <h4>Comment: {{session["comments"]}}</h4>
<a href="/"><button type="button">go back</button></a>
</body>
</html>