<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        .blue {
            height: 100px;
            width: 100px;
            border-style: solid;
            border-color: black;
            background-color: aqua;
            background-color: var(--color);
            display: inline-block;
            margin: 15px;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
        {% for i in range(times) %}
        <div class="blue", style="--color: {{ color }}"></div>
        {% endfor %}
</body>
</html>