<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Welcome {{session.first_name}}</h1>
    <h2>{{track.name}}</h2>
    <a href="/tracks">tracks</a>
    <a href="/logout">Log Out</a>
    <div>
        <h3>Posted by: {{track.first_name}}</h3>
        <p>Genre: {{track.genre}}</p>
    </div>
</body>
</html>